*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: Light.ttf ;
    src: url(../Assets/Fonts/font/MPLUSRounded1c-Light.ttf);
}




.Use{
    /* display: list-item; */
    /* list-style-position: inside; */
    /* list-style-type: disc; */
    font-size: 23px;
     margin: 20px 100px 0px 200px;
     padding-top: 10px;
}
.Usedata{
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
    font-size: 23px;
     margin: 20px 10px 0px 30px;
     padding-top: 10px; 
}
.blankbox{
    height: 200px;
}